################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VisualSnow/FileContentIndex
/.vs
/.vs/slnx.sqlite
